.product-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

.product-item {
  width: 100%;
  padding: 0.5rem;
}

@media (min-width: 640px) {
  .product-item {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .product-item {
    width: 33.3333%;
  }
}

@media (min-width: 1024px) {
  .product-item {
    width: 25%;
  }
}
